      @font-face {
      font-family: "AlteHaasGrotesk";
      src: url("font/AlteHaasGrotesk.eot"); /* IE9 Compat Modes */
      src: url("font/AlteHaasGrotesk.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
      url('font/AlteHaasGrotesk.woff') format('woff'), /* Modern Browsers */
      url('font/AlteHaasGrotesk.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('font/AlteHaasGrotesk.svg#svgFontName') format('svg'); /* Legacy iOS */
      font-weight: normal;
      }
      body, div, footer, h4 {
        background-color: #F4F7F3 !important;
        font-family: "AlteHaasGrotesk";
      }
      h1, h2, h3, h4 {
      font-family: "AlteHaasGrotesk";
      }
      #jumbotron {
      background-color: #F4F7F3
      }
      .nav-link{
      margin-left: 0px;
      padding-left: 0px;
      padding-right: 30px;
      color: #555555;
      }
      a.disabled:hover {
      cursor: default;
      }
      .active {
      color: teal;
      }
      p {
      padding-bottom: 10px;
      }
      html {
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
      }
      .modal,body.modal-open {
          padding-right: 0!important
      }

      body.modal-open {
          overflow: auto
      }
      .modal-footer {
          display: flex;
          justify-content: flex-start;
          .btn {
              position: absolute;
              right: 10px;
          }
      }