html {
    background-color: #fefefe;

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    margin-bottom: 5px;
    padding: auto;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;

}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color:  #444444;
    font-size: 25px;
    opacity: .8;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: rgba(0,0,0,.6);
    text-decoration: none;
    font-style: normal;
    letter-spacing: 2px;
    font-weight: bold;
    
    text-transform: uppercase;
}

a {
    color: #805500;
    text-decoration: none;
}

a:hover {
    color: #aaaaaa;
}


b, strong {
    font-weight: 600;
}

samp {
    display: none;
}


img {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    display: block;
    max-width:900px;
}


table, tr, td {
    border-color: red;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    padding-right: 20px;
    padding-bottom: 0px;
    
}


#Container {
    width: 600px;
    margin-top: 10%px;
    padding-top: 130px;
    margin-left: 15%;
    margin-bottom: 2em;
}


blockquote {
    padding: 0px;
    margin-left: 40px;
}


/* Picture code goes here ------------------------------------------------------ */

#img_float_Container {
    position: relative;
    left: 660px;
    top: -420px;
    width: 100%;
    height: 420px;

}

#img_float_Text {
    position: relative;
    left: 0px;
    top: 0px;
    color: #8C7657;
    font-size: 15px;
    text-align: right;
    padding-bottom: 2px;
    text-decoration: none;
    width: 100%;
    height: 20px;
}

.img_float {
    width: 600px;
    height: 400px;
}

.img_float:hover {
    cursor: pointer;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

#img_float_Title{
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#img_float_Description{
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}




/* Nav code-----------------------------------------------------------------------*/

a.NavLink {
    font: "arial";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999999;
    font-size: 12px;
}

a.NavLink:hover {
    color: #111111;
    text-decoration: none;
    text-decoration-color: #ffff00;
}

td.NavLink {
    padding-left, padding-right: 3px;
    margin-left: 10px; 
    margin: 10px
}

table.NavLink{
    width: 100%;
}

tr.NavBorder {
    width: 100%;
    border-bottom: 1px dotted #999999;
    margin-bottom: 10px;
    padding-bottom: 100px;
    
}

td.NavBorder {
    width: 100%;
    border-bottom: 1px dotted #999999;

}


/* Header information here ---------------------------------------------- */






/* Footer information here --------------------------------------------- */


#Footer {
    border: 0px solid #999999;
    margin: 0px auto;
    margin-top: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


table.Footer {
    border: 0px solid red;
    border-collapse: collapse;
    width: 100%;
}


td.Footer {
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    
}

td.Footer_lower {
    text-align: right;
    text-transform: uppercase;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 2px;
    color: #8C7657;
}



/*